body {
	margin:  0px;
	font-family: fantasy;
	background: red;
}

h1 {

	color: white;
}

#logo {
	height: 80px;
	width: 80px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}